@font-face {
  font-family: "Kanit Black";
  src: url("./ui/accessoires/Kanit/Kanit-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Bold";
  src: url("./ui/accessoires/Kanit/Kanit-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit ExtraBold";
  src: url("./ui/accessoires/Kanit/Kanit-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit ExtraLight";
  src: url("./ui/accessoires/Kanit/Kanit-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Light";
  src: url("./ui/accessoires/Kanit/Kanit-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Medium";
  src: url("./ui/accessoires/Kanit/Kanit-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Regular";
  src: url("./ui/accessoires/Kanit/Kanit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit SemiBold";
  src: url("./ui/accessoires/Kanit/Kanit-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit Black Italic";
  src: url("./ui/accessoires/Kanit/Kanit-BlackItalic.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #1f2a31 !important;
  color: #ffffff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.home,
.black {
  color: #fff !important;
}

.container {
  padding: 0 70px;
}
.layout {
  height: 100vh;
}
.chieldren {
  display: flex;
  flex-grow: 1;
}
/* Mobile */
@media screen and (max-width: 420px) {
  .container {
    padding: 0 5%;
  }
}
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
